[theme]
primaryColor="#13B5EA"
backgroundColor="#F5F7FA"
secondaryBackgroundColor="#FFFFFF"
textColor="#2C3E50"
font="sans serif"

[server]
headless = true
port = 8501
enableCORS = false
enableXsrfProtection = true

[browser]
gatherUsageStats = false
serverAddress = "localhost"

